* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

.outline {
  outline: 1px solid red;
}

/******************************************************************************/
.view-container {
  min-height: 100vh;
}

.view-card {
  border-radius: 0px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/******************************************************************************/
.cursor-pointer {
  cursor: pointer;
  transition: transform 0.2s;
}

.cursor-pointer:hover {
  transform: scale(1.1);
}
